{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form method="POST" action="" novalidate>
        {{form.hidden_tag()}} <!-- This is present to prevent CSRF attacks. Include this line and a secret key and WTForms takes care of protecting your site-->
        <p>
            {{form.username.label}}<br>
            {{form.username(size=32)}}
            {% for error in form.username.errors %}
            <span style="color: red">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.password.label}}<br>
            {{form.password(size=32)}}
            {% for error in form.password.errors %}
            <span style="color: red">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
        <p>{{form.submit()}}</p>
    </form>
{% endblock %}